.header {
  display: flex;
  width: 100%;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
}
.header-txt {
  padding-top: 20px;
  align-self: center;
  padding-left: 15px;
}

.model-text{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
